<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Wood - ToDo List </a>
      <div class="navbar">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">
            Home <span class="sr-only">(current)</span>
          </a>
          <a class="nav-link" href="/created-task"> View Outstanding Tasks </a>
          <a class="nav-link" href="/create-task"> Create a Task </a>
          <a class="nav-link" href="/about"> About </a>
          <a class="nav-link" href="/join"> Register</a>
          <a class="nav-link" href="/logout"> <%= user.email %> (Logout) </a> <%
        }%> <% if(!user) { %>

        </div>
      </div>
    </nav>
  </header>
  ;
  